<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Face Feed</title>
</head>
<body>
<h1 class="d-flex justify-content-center display-4"> Live Feed </h1>
<div class="gap-2 d-flex justify-content-center">
        <a class="btn btn-primary btn-lg w-25" type="button" href="/button1">Button</a>
        <a class="btn btn-primary btn-lg w-25" type="button" href="/button2">Button</a>
        <a class="btn btn-primary btn-lg w-25" type="button" href="/button3">Button</a>
</div>
<br>

    <div class="d-flex justify-content-center">
        <img src="/video_feed" alt="" class="w-50">
    </div>


</body>
</html>